<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .btn-red {
            margin: 0 20px;
            background: red;
            color: white;
            padding: 10px;
            font-weight: bold;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <h1>
        <center>Social Login</center>
    </h1>

    <div style="margin: 40px 0; text-align: center">
        <a href="/">Home</a>
        <a href="/auth/login" style="margin: 0 20px;">Login</a>
        <a href="/auth/logout">Logout</a>
    </div>

    <div style="text-align: center;">
        <a href="/auth/google" class="btn-red">Google</a>
    </div>
</body>

</html>