<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <button>Generate</button>
    <script>
        document.querySelector('button').addEventListener('click', async () => {
            let a = await fetch('/')
            let r = await a.json()
            console.log(r);
        })
    </script>
</body>

</html>