<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Form</title>
</head>

<body>
    <h1>Post Form</h1>
    <form method="post" action="/post" enctype="multipart/form-data">
        <div>
            <label for="firstName">First Name</label>
            <input type="text" name="firstName" id="firstName" placeholder="First Name">
        </div>
        <div>
            <label for="lastName">Last Name</label>
            <input type="text" name="lastName" id="lastName" placeholder="Last Name">
        </div>
        <div>
            <label for="sampleFile">File</label>
            <input type="file" name="sampleFile" id="sampleFile">
        </div>
        <button type="submit">Submit</button>
    </form>
</body>

</html>